html, body{
    height:100%;
}

body.wrapper {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

header{
    height: 10%;
}

#header {
    width:100%;
    height: 100%;
    background-color: #2fd84b;
    border:1px solid #000;
    border-left: 0;
    border-right: 0;
    text-align: center;
    display: table;
}

#content{
    width:90%;
    background-color: #b8edc1;
    height: 62%;
    padding: 5%;
}

#content div.table{
    text-align: center;
}

.left{
    float: left;
}

.right {
    float: right;
}

.center{
    text-align: center;
}

.inline-block{
    display: inline-block;
}

.hide-space {
    visibility: none;
}

.hide {
    display: none;
}

.right{    
    float: right!important;
}

.left {
    float: left!important;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #000;
}

tr.button td {
    border: none;
    text-align: center;
    height: 50px;
}

tr.button td input[type=submit] {
    width: 70%;
    height: 30px;
    font-weight: 700;
}

tr.name td {
    font-weight: 700;
}

td.buttons{
    padding: 0;
}

div.input {    
    width: 32%;
    height: 30px;
    margin: 3px;
    display: inline-block;
    clear: both;
    padding: 5px;
}

div.input.row {
    height: 34px;
    margin: 0;
    padding: 0;
    width: 200px;
    display: inline-block;
}

div.input.row a {
    border: 1px solid #000;
    display: inline-block;
    width: 85px;
    background-color: #dddddd;
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    padding: 3px 0;
    font-weight: 700;
    margin: 5px 3px;
}

div.input.row a:link,
div.input.row a:visited,
div.input.row a:hover,
div.input.row a:active {
    text-decoration: none;
    text-transform: none;
}

div.input.double {
    width: 70%;
    height: 80px;
}

div.input.date {
    width: 30%;
}

div.input label {
    width: 32%;
    float: left;
    text-align: right;
    padding: 8px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 3px;
}

div.input strong {
    color:blue;
    font-size: 30px;
    font-weight: bold;
}

div.input.double label {
    width: 15%;
}

div.input input {
    width:50%;
    float:left;
    padding: 8px;
    border: 1px solid #000;
}

div.input.double input {
    width: 71%;
    height: 60px;
}

div.input input[type=submit] {
    width: 55%;    
    cursor: pointer;
}

div.buttons {
    width: 40%;
    display: block;
    margin: 10px;
    height: 50px;
    clear: both;
    padding: 10px 0;
}

div.buttons a,
div.buttons input[type="submit"] {
    float: right;
    width: 20%;
    background-color: #2fd84b;
    padding: 8px;
    margin: 5px;
    border: 1px solid #000;
    text-align: center;
    color: #000;
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
}

div.buttons .cancel{
    margin-right: 20px;
    margin-left: 50px;
}

p{
    margin: 0;
    padding: 0;
}

form {
    padding: 0;
    margin: 0;
}

#footer p,
#header p{
    display: table-cell;
    vertical-align: middle;
}

div.table {
    text-align: center;
}

th, td {
    padding: 5px 10px;
}

footer{
    height: 10%;
}

#footer{
    width: 100%;
    height: 100%;
    background-color: #2fd84b;
    border:1px solid #000;
    border-left: 0;
    border-right: 0;
    text-align: center;
    display: table;
}