<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Member</title>
</head>
<body>
</body>
</html>
<html>
    <head>
        <link href="../css/style.css" rel="stylesheet">

    </head>
    <body>
        <div id="header">

        </div>
        <div id="content">
            <div class="edition">
                <div class="input">
                    <label class="required">Name</label>
                    <input type="text" />
                </div>
                <div class="input">
                    <label class="required">Lastname</label>
                    <input type="text" />
                </div>
                <div class="input">
                    <label class="required">Document Id</label>
                    <input type="text" />
                </div>
                <div class="input">
                    <label>Phone</label>
                    <input type="text" />
                </div>
                <div class="input">
                    <label class="required">Mobile Phone</label>
                    <input type="text" />
                </div>
                <div class="input">
                    <label>Email</label>
                    <input type="text" />
                </div>
                <div class="input">
                    <label>Register Date</label>
                    <input type="text" readonly="true" />
                </div>
                <div class="input">
                    <label>Address</label>
                    <input type="textarea" />
                </div>
                <div class="buttons">
                    <a>Save</a>
                    <a href="/admin/members-list">Cancel</a>
                </div>
            </div>

        </div>
        <div id="footer">

        </div>

        <script src="../js/jquery-3.2.1.js"></script>

    </body>
</html>