<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Member</title>
</head>
<body>
</body>
</html>
<html>
    <head>
        <link href="../css/style.css" rel="stylesheet">

    </head>
    <body>
        <div id="header">

        </div>
        <div id="content">
            <div class="table">
                
            </div>

        </div>
        <div id="footer">

        </div>

        <script src="../js/jquery-3.2.1.js"></script>

    </body>
</html>