<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">
        <header>
            <% include ../partials/header %>
        </header>
        <div id="content">
            <div class="table">
                <% if (Members && Members.length>0) { %>
                    <table>
                        <th>
                            <td>Firstname</td>
                            <td>Lastname</td>
                            <td>Mobilephone</td>
                            <td></td>
                        </th>
                        <% Members.forEach(function(row) { %>
                        <tr>
                            <td> <%= row.Firstname %> </td>
                            <td> <%= row.Lastname %> </td>
                            <td> <%= row.Mobilephone %> </td>
                            <td> <a href=/admin/member?id=<%= row.MemberId %>>Update</a></td>
                        </tr>
                        <% }); %>
                    </table>
                <% } else { %>
                    <p>
                        There is no members data available.
                    </p>
                <% } %>
            </div>

        </div>
        
        <footer>
            <% include ../partials/footer %>
        </footer>

        <script src="../js/jquery-3.2.1.js"></script>

    </body>
</html>