<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">
        <header>
            <% include ../partials/header %>
        </header>
        <div id="content">
            <div class="table">

                <table>
                    <th>
                        <td>Firstname</td>
                        <td>Lastname</td>
                        <td>Mobilephone</td>
                    </th>
                </table>
                
            </div>

        </div>
        
        <footer>
            <% include ../partials/footer %>
        </footer>

        <script src="../js/jquery-3.2.1.js"></script>

    </body>
</html>