<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Member</title>
</head>
<body>
</body>
</html>
<html>
    <head>
        

    </head>
    <body>
        <div id="header">

        </div>
        <div id="content">
            <div class="edition">
                <form action="/admin/member" method="post">
                    <div class="input">
                        <label class="required">Name</label>
                        <input id="firstname" name="firstname" type="text" value=<%= member.Firstname %> />
                    </div>
                    <div class="input">
                        <label class="required">Lastname</label>
                        <input id="lastname" name="lastname" type="text" value=<%= member.Lastname %> />
                    </div>
                    <div class="input">
                        <label class="required">Document Id</label>
                        <input id="documentId" type="text" value=<%= member.MemberId %> />
                    </div>
                    <div class="input">
                        <label>Phone</label>
                        <input id="cellphone" type="text" />
                    </div>
                    <div class="input">
                        <label class="required">Mobile Phone</label>
                        <input type="text" />
                    </div>
                    <div class="input">
                        <label>Email</label>
                        <input type="text" />
                    </div>
                    <div class="input">
                        <label>Register Date</label>
                        <input type="text" readonly="true" />
                    </div>
                    <div class="input">
                        <label>Address</label>
                        <input type="textarea" />
                    </div>
                    <div class="buttons">
                        <input type="submit" id="save-button" value="Save" />
                        <a href="/admin/members-list">Cancel</a>
                        <input type="hidden" name="memberId" value="<%= member.MemberId %>">
                    </div>
                </form>
            </div>

        </div>
        <div id="footer">

        </div>

        <script src="../js/jquery-3.2.1.js"></script>
        

    </body>
</html>